{{#link-to "index"}}
  <h1 class="title">
    <em>M</em>
  </h1>
{{/link-to}}
<div class="container">
    <Main></Main>
    <div class="links">
        {{#link-to "contact" class="menu-contact"}}
            Contact me
        {{/link-to}}
    </div>
</div>
<div class="container">
    <Charts></Charts>
</div>
