<h2>frens mood</h2>
    <hr>
    <article class="circle-list">
    {{#each this.model as |user|}}
        <UserCircle @user={{user}}></UserCircle>
    {{/each}}
    </article>
    <hr>
    <br>
<h3>So ... how are u feeling?</h3>

<MoodEdition></MoodEdition>